[2021-09-29 06:54] MasterBrian99 opened #3 "Adding Java Squares of a Sorted Array"
Question-Given an array of numbers sorted in increasing order, return a new array containing squares of all the numbers of the input array sorted in increasing order.
Example- Input: arr[] = [-5, -2, -1, 0, 4, 6]

Output: [0, 1, 4, 16, 25, 36]

[2021-09-29 07:06] avinash201199 commented on #3
Go ahead @MasterBrian99
Are you a participant of Hacktoberfest?

[2021-09-29 07:09] MasterBrian99 commented on #3
yeah..

[2021-09-29 07:13] avinash201199 commented on #3
Okay , add your program and make  pull request will accept on 1 October fo successful count.

[2021-09-29 07:26] MasterBrian99 commented on #3
i just realized,it hasn't even started yet.anyway,i will make another request when it started.btw can we add javascript language also ?

[2021-09-29 08:04] avinash201199 commented on #3
Will accept your this pull request on 1st october then you will get 1 successful pull request. Yeah you can add javascript programs. First make folder of javascript inside the topic and then add your programs.

[2021-09-29 10:17] ssm0801 opened #5 "Add "Triplet Sum in Array" question"
**Statement** : Given array of size n and an integer T. Find triplet in the array which sums up to the given integer T.

**Input :**
[code]

**Output :**
[code]

[2021-09-29 10:57] avinash201199 commented on #5
@ssm0801 Go ahead 😃

[2021-09-29 12:31] vish-han opened #6 "Searching and sorting questions are not there"
Can I do this task if someone assign me??
@avinash201199

[2021-09-29 12:42] ASLManasa opened #7 "First Unique Charachter of a string"
Hi, I am a participant of Hacktoberfest. I would like to add this question in strings. Kindly assign me this issue. Thank you.

Question: Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

Input: s = "aabb"
Output: -1
Input: s = "code"
Output: 0

[2021-09-29 13:13] vish-han commented on #7
Can i do this plzz assign me , I will be very grateful....

[2021-09-29 13:23] ZeelParekh10 commented on #7
Plz, Assign me i have the solution ready

[2021-09-29 13:25] avinash201199 commented on #6
@vish-han  I
Instead of searching and sorting the folder name is seach & short ,you can correct the folder name and add your program.

[2021-09-29 13:27] avinash201199 commented on #7
@ASLManasa
Go ahead :)

[2021-09-29 13:28] avinash201199 commented on #7
@ZeelParekh10  Create your own issue will assign you surely :)

[2021-09-29 13:38] ZeelParekh10 opened #8 "Solution of the DSA question"
Hii, Iam a newbie..... just starting the contribution journey............... learning new things, well this is my first issue.before this i didnt even know how to create issues, so this is the code ......................

Language used: Python

from collections import Counter
str=input()
count=Counter(str)
for i in str:
    if count[i]==1:
        index_of=i
        break
    else:
        index_o

[2021-09-29 13:40] JyotimoyKashyap opened #9 "Pascal's Triangle"
Hello, I am participant of Hacktoberfest 2021, and I want to add a question related to Dynamic Programming.

Given an integer rowIndex, return the rowIndexth (0-indexed) row of Pascal's triangle.

In **Pascal's triangle**, each number is the sum of the two numbers directly above it as shown.
![pascal triangle](https://user-images.githubusercontent.com/55136058/135280606-6a98a550-32cd-4944-af69-ebf

[2021-09-29 13:53] avinash201199 commented on #8
@ZeelParekh10 Go ahead, while adding please be more descriptive about the program.
for example
![image](https://user-images.githubusercontent.com/61057666/135282282-dab547c5-17ce-48f2-8475-7f3ab4a88ba8.png)

[2021-09-29 14:18] ZeelParekh10 commented on #8
Okay, will note the point down !!!

[2021-09-29 14:20] ZeelParekh10 commented on #8
"""
Question: Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

Input: s = "aabb"
Output: -1
Input: s = "code"
Output: 0

Language used: Python

Here we will simply use Counter that will help us in counting the elements of the string.
Then we will run a loop that will run till we find the first non-repeating character
"""

![ghq]

[2021-09-29 15:43] jigneshsolanki07 opened #10 "Factorials of large numbers"
Hello, I am a participant of Hacktoberfest 2021, and I want to add a question related to the number theory .

Factorials of large numbers, Given an integer N, find its factorial.

Example:

Input: N = 5
Output: 120

Explanation : 5! = 1*2*3*4*5 = 120

This problem falls under the category of number theory.

Kindly assign me this issue.

[2021-09-29 16:05] avinash201199 commented on #10
@jigneshsolanki07
go ahead :)

[2021-09-29 16:48] 28Pollux28 opened #11 "Find largest rectangle of 0 in Matrix"
Hi I'm an Hactoberfest participant and I would like to submit this question that falls under the Matrix category :

Given a Matrix of size (n,n) only composed of 1 and 0, find the coordinates of the largest rectangle only composed of 0.

Kindly assign me this issue.

[2021-09-29 16:58] avinash201199 commented on #11
@28Pollux28
Go ahead :)

[2021-09-29 18:22] ksalokya opened #15 "Want to add Backtracking Algos"
I want to add N-Queen, Rat In A Maze, Sudoku Solver etc. Please assign me

[2021-09-29 20:29] aniket-24 commented on #10
Please assign me this issue!

[2021-09-29 20:31] aniket-24 commented on #9
Please assign me this issue!

[2021-09-29 20:31] aniket-24 commented on #8
Please assign me this issue!

[2021-09-29 20:37] aniket-24 opened #16 "Palindrome Number"
Question-
Given an integer x, return true if x is palindrome integer.
An integer is a palindrome when it reads the same backward as forward. For example, 121 is palindrome while 123 is not.

Example 1:
Input: x = 121
Output: true

Example 2:
Input: x = -121
Output: false
Explanation: From left to right, it reads -121. From right to left, it becomes 121-. Therefore it is not a palindrome.

[2021-09-29 20:38] aniket-24 commented on #16
Please assign me this issue under Hacktoberfest @avinash201199

[2021-09-29 20:54] illusion001 opened #17 "Longest Palindromic Subsequence"
This is code of Longest Palindromic Subsequence using Dynamic Programming.
Time Complexity : O(N*N)
Space Complexity : O(N)

[2021-09-30 01:09] avinash201199 commented on #15
Go ahead  @ksalokya

[2021-09-30 01:10] avinash201199 commented on #16
Go ahead :) @aniket-24

[2021-09-30 01:11] avinash201199 commented on #17
go ahead :) @illusion001

[2021-09-30 02:42] avinash201199 commented on #8
@ZeelParekh10  add your program

[2021-09-30 02:45] ZeelParekh10 commented on #8
Can you explain me what should be done after creating an issue, do i have to pull a request or something else

[2021-09-30 04:01] andre-fajar-n opened #20 "adding bubble sort algorithm in Python & Golang"
Hi, I'm participant of Hacktoberfest '21. I want to add bubble sort algorithm in some different language, such as Golang, Python. Can I create PR one by one based on language?

[2021-09-30 04:36] avinash201199 commented on #20
@andre-fajar-n  go ahead :)

[2021-09-30 04:47] apoorva-raj commented on #10
Please assign me this issue !

[2021-09-30 05:12] Sanket2055 commented on #20
hello , i would like to contribute in c++ lang. please allow me to go ahead

[2021-09-30 05:17] Dishant145 opened #22 "Menu Driven Program for Stack and Queues"
Hi! I am participating in Hacktoberfest 2021!

I would like to contribute by adding menu driven programs to implement stack and queues in Python Language. There will be two different codes for stack and queues respectively.

Thanks!

[2021-09-30 05:36] avinash201199 commented on #22
Go ahead :) @Dishant145
Follow for more updates -https://github.com/avinash201199/

[2021-09-30 06:20] 2devyank commented on #20
I want to add bubble sort algorithm in java please assign this to me

[2021-09-30 06:32] silicolicious opened #23 "DSA - Binary Search Tree in C++"
Hi Avinash Singh!
I am Mageshkrishna R, and I am a participant registered in Hacktoberfest.
I recently started open-source contributions.
I am good in DSA and I would like to contribute on the topic:-
- *Binary Search Tree* in C++ language.

The program would include Insertion, Deletion and Searching - with proper comments explaining each part of the code.

Thank You!

[2021-09-30 06:47] avinash201199 commented on #23
@silicolicious  go ahead :)
Follow  for more updates -https://github.com/avinash201199

[2021-09-30 06:57] Adityagupta1625 opened #25 "adding stock buy sell stock probelm"
I am participating in Hactoberfest want to some contribution to this repositry.

# Question is:

You are given an array prices where prices[i] is the price of a given stock on the ith day. You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock. Return the maximum profit you can achieve from this transaction. If you c

[2021-09-30 06:58] Adityagupta1625 commented on #25
Please allow me continue with this

[2021-09-30 07:15] lekha06 opened #27 "Reverse each word given in a string"
Reverse each word given in a string.
Ex:
INPUT: I like to work on this issue
OUTPUT:  issue this on work to like I

Can I work on this issue for hackoctober?

[2021-09-30 07:16] VaibhavMogha opened #28 "DSA- Linked List in C++"
# Hi Avinash!
I am Vaibhav, and I am participating in Hacktoberfest 2021.
I am totally new and noob in open-source contributions.
I would like to contribute on this topic:

**Linked List in C++ language.**

Please assign me this.
Thank You!

[2021-09-30 07:17] avinash201199 commented on #25
@Adityagupta1625  go ahead

[2021-09-30 07:18] Adityagupta1625 commented on #25
okk sure

[2021-09-30 07:22] VaibhavMogha opened #30 "DSA - Stack and Queue in C++"
# Hi Avinash!
I am Vaibhav, and I am participating in Hacktoberfest 2021.
I am totally new and noob in open-source contributions.
I would like to contribute on this topic:

**Stack & Queue in C++ language.**

Please assign me this.
Thank You!

[2021-09-30 07:44] silicolicious opened #31 "DSA - Singly Linked List in C"
Hi!
I am Mageshkrishna R, and I am a participant registered in Hacktoberfest.
This is my second issue in this repository. I would like to contribute on the topic:-
- Singly Linked List in C language.

The program would include Insertion, Deletion and Searching - having proper comments explaining each part of the code.

Assign this issue to me.
Thank You!

[2021-09-30 08:25] omrawal opened #32 "Reverse a linked List"
Input: head = [1,2,3,4,5]
Output: [5,4,3,2,1]
I wish to contribute to the problem in **Python** language With **brute force and an optimal** approach.

[2021-09-30 08:57] avinash201199 commented on #27
@lekha06  Go ahead :)
follow me for more updates -https://github.com/avinash201199

[2021-09-30 08:58] avinash201199 commented on #28
Go ahead @VaibhavMogha
follow for more updates-https://github.com/avinash201199

[2021-09-30 08:59] avinash201199 commented on #31
Go ahead @silicolicious

[2021-09-30 09:02] avinash201199 commented on #30
Go ahead @VaibhavMogha

[2021-09-30 09:07] avinash201199 commented on #20
@Sanket2055 create your own issue ,will assing you surely.

[2021-09-30 09:08] avinash201199 commented on #20
@

Create new issue , will assign you.

[2021-09-30 09:10] VaibhavMogha opened #33 "DSA - Matrix in C++"
# Hi Avinash!
I am Vaibhav, and I am participating in Hacktoberfest 2021.
I am totally new and noob in open-source contributions.
I would like to contribute on this topic:

**Matrix in C++ language with theory.**

Please assign me this.
Thank You!

[2021-09-30 09:12] VaibhavMogha opened #34 "DSA - String in C++"
# Hi Avinash!
I am Vaibhav, and I am participating in Hacktoberfest 2021.
I am totally new and noob in open-source contributions.
I would like to contribute on this topic:

**String in C++ language (concatenation, reverse, palindrome etc)**

Please assign me this.
Thank You!

[2021-09-30 09:16] jishanaik opened #35 "DSA- Number Theory in C++"
DSA - Number Theory in C++

Hi, I am Jisha and I am participating in Hactoberfest 2021. I would like to contribute the following question in C++ for number theory. Please assign me this issue.

Question: Find two positive integers A and B, such that A-B=N where N is a given positive integer and the number of distinct prime factors of A and B are equal.

Constraints:
1<= N <= 10^16
1<= A, B <= 10^1

[2021-09-30 09:25] jen-sjen opened #36 "DSA-Array-Python-Merge Intervals"
Given an array of intervals where intervals[i] = [starti, endi], merge all overlapping intervals, and return an array of the non-overlapping intervals that cover all the intervals in the input.
Example:
Input: intervals = [[1,3],[2,5]]
Output: [[1,5]]

#hactoberfest2k21

[2021-09-30 09:27] avinash201199 commented on #35
You are welcomed to contribute @jishanaik
follow me for more updates-https://github.com/avinash201199

[2021-09-30 09:29] avinash201199 commented on #36
Go ahead @jen-sjen
please follow for more updates-https://github.com/avinash201199

[2021-09-30 09:32] jishanaik commented on #35
Thank you! @avinash201199

[2021-09-30 09:32] jen-sjen opened #37 "DSA-String-Python-Longest Common Prefix"
Hey there, I'm participating in #hactoberfest2k21, Please assign me the issue. Good day!
Write a function to find the longest common prefix string amongst an array of strings.
If there is no common prefix, return an empty string "".
Example:
Input: strs = ["flower","flow","flight"]
Output: "fl"

[2021-09-30 09:38] jen-sjen opened #38 "DSA-Stack-Python- Valid Parenthesis"
Hey there, I'm participating in #hactoberfest2k21, Please assign me the issue. Good day!
Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.
An input string is valid if:
Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
Example:
Input: s = "()[]{}"
Output: true

[2021-09-30 09:41] avinash201199 commented on #37
Go ahead @jen-sjen
Please make pull request for this issue after successful pull request for the first issue.Till then don't add this program on the repo otherwise it will reflect together and pull request will be counted only one.

[2021-09-30 09:41] jen-sjen opened #39 "DSA-Matrix-Python- Minimum Path sum"
Hey there, I'm participating in #hactoberfest2k21, Please assign me the issue. Good day!
Given a m x n grid filled with non-negative numbers, find a path from top left to bottom right, which minimizes the sum of all numbers along its path.You can only move either down or right at any point in time.
Example:
Input: grid = [[1,3,1],[1,5,1],[4,2,1]]
Output: 7

[2021-09-30 09:50] jen-sjen commented on #36
Thanks a lot!

[2021-09-30 09:51] jen-sjen commented on #37
Alright, thanks a lot!

[2021-09-30 09:54] pranav-git-hub opened #40 "Grammatical error in readme"
Hi,
I am participating in Hacktoberfest2021.
I want to fix the grammatical error in the readme file.
Regards.

[2021-09-30 10:04] pranav-git-hub opened #41 "DSA - Stack and Queue in Python"
Hi I am Pranav.
I am participating in Hacktoberfest2021.
I want to contribute to adding questions on Stack and Queue in Python
Regards.

[2021-09-30 10:07] pranav-git-hub opened #42 "DSA - Hash Table in C++"
Hi I am Pranav.
I am participating in Hacktoberfest2021.
I want to contribute to adding questions on Hash Table in C++
Regards.

[2021-09-30 10:08] pranav-git-hub opened #44 "DSA - Greedy Algo. in c++"
Hi I am Pranav.
I am participating in Hacktoberfest2021.
I want to contribute to adding questions on Greedy Algo. in c++
Regards.

[2021-09-30 10:09] pranav-git-hub opened #45 "DSA - Binary Tree in C++"
Hi I am Pranav.
I am participating in Hacktoberfest2021.
I want to contribute to adding questions on Binary Tree in C++.
Regards.

[2021-09-30 10:16] Divyaantkj01 opened #46 "Menu-Driven Program for Strings"
Hi! I am participating in Hacktoberfest 2021!

I would like to contribute by adding a Menu Driven Program for operations on Strings, in Python Language, like Reversing the string, alternating LowerCase and UpperCase letter, finding repeating characters in string, and Encode the string by adding 2 to each ASCII value.

Thanks a lot!

[2021-09-30 10:23] aniket-24 commented on #16
okay :D

[2021-09-30 10:27] avinash201199 commented on #40
Can you list the grammatical error's ?

[2021-09-30 10:39] aniket-24 opened #48 "Cyclic Sort in C++"
I want to add the Cyclic Sort in C++

[2021-09-30 10:41] aniket-24 commented on #48
Please assign me this issue under Hacktoberfest!

[2021-09-30 10:51] CodesbyUnnati opened #49 "Stacks- Balancing Parenthesis (C++)"
I would like to add the solution to the Question "**Balancing Parenthesis**" using a _stack_ in C++ language.
Please assign me this issue for **Hacktober Fest**.

[2021-09-30 10:55] Kushagrasaxena-13 opened #50 "Prime Sieve"
Hi sir! I am participating in Hacktoberfest 2021!
I would like to contribute by adding Prime Sieve method. Please label it as hacktoberfest and assign it to me.

Thanks in advance sir.

[2021-09-30 11:12] aniket-24 commented on #16
In which folder do I add this Palindrome Number program? @avinash201199

[2021-09-30 11:22] Abhicoder03 opened #53 "DP in C++"
Hi, I want to contribute in Hacktoberfest 2021.
Please assign me this task and also add label as Hacktoberfest-accepted.

[2021-09-30 11:25] Abhicoder03 opened #54 "Selection Sort in C++"
Hi, I want to contribute in Hacktoberfest 2021.
Please assign me this task and also add label as Hacktoberfest-accepted.

[2021-09-30 11:25] Abhicoder03 opened #55 "Binary Search in C++"
Hi, I want to contribute in Hacktoberfest 2021.
Please assign me this task and also add label as Hacktoberfest-accepted.

[2021-09-30 11:26] Abhicoder03 opened #56 "Bubble Sort in C++"
Hi, I want to contribute in Hacktoberfest 2021.
Please assign me this task and also add label as Hacktoberfest-accepted.

[2021-09-30 11:32] Sanket2055 commented on #56
hello please aaaign me this task i already have a solution , thank you

[2021-09-30 11:32] sohilladhani opened #58 "Sorted Linked List to Binary Search Tree in Java"
Hi @avinash201199

I would like to add a program to convert a sorted linked list to binary search tree in Java under Tree folder.

Can you assign a 'hacktoberfest' label and assign it to me?

Thanks

[2021-09-30 11:35] arihantthriwe opened #59 "Longest Consecutive Sequence"
Hi @avinash201199

I would like to add a program -> **Longest Consecutive Sequence** ---- Given an unsorted array of integers nums, find the length of the longest sequence of consecutive elements.

Can you assign a '**hacktoberfest**' label and assign it to me?

Thanks

[2021-09-30 11:39] avinash201199 commented on #53
please specify which program you want to add @Abhicoder03  and create only one issue at once , will assign another issue once you complete the first one.

[2021-09-30 12:04] SarveshLimaye opened #60 "Cyclic Sort in Java"
Hey @avinash201199 !

I would like to add program for cyclic sort in java.

Can you assign a hacktoberfest label and assign it to me.

[2021-09-30 12:09] avinash201199 commented on #60
go ahead @SarveshLimaye

[2021-09-30 12:22] SanskritiKhatiyan opened #61 "largest sum contiguous Subarray"
@avinash201199 Hey!! I want to add one array question of finding Largest sum subarray question.
  Here, I will explain kadane's algorithm approach. I guess this question is important.

Can you assign a hacktoberfest label and assign it to me.

[2021-09-30 12:24] Khushi-Agrawal-1 opened #62 "Maximum Gap"
Hi @avinash201199

I would like to add a program to return the maximum difference between two successive elements in an integer array.

Can you assign a 'hacktoberfest' label and assign it to me?

Thanks

[2021-09-30 12:26] arjun-khanduri opened #63 "Bit Manipulation"
Hey @avinash201199!

I would like to add the program: __Finding the square of a number without using the *, ** operators or the pow function.__

Can you assign a `hacktoberfest` label and assign it to me?

[2021-09-30 12:32] 2devyank opened #64 "Java : Bubble Sort Program"

[2021-09-30 12:33] 2devyank commented on #64
@avinash201199 please assign this issue to me

[2021-09-30 12:36] Prajakta102 commented on #49
Please assign this task to me I would like to add my solution for "Balancing Parenthesis" using stack in c++.

[2021-09-30 12:41] pranav-git-hub commented on #40
I will create a pull request in which you can see the changes and verify them.

[2021-09-30 12:46] pranav-git-hub commented on #40
I have created the request.

[2021-09-30 12:54] 28Pollux28 opened #68 "Python : Checking bracketing of an expression"
Hi I'm an Hacktober Participant and I would like to contribute to the String topic with this challenge :
Given an expression made of "(",")","[","]","{","}", check if the bracketing is correct.
Kindly assign me this issue.

[2021-09-30 13:22] 28Pollux28 opened #72 "Python : Next number of the look-and-say sequence"
Hi, I'm an Hacktober participant and I'd like to contribute on the Number Theory topic :
Given a positive integer, return the next number in the look-and-say sequence.
For example : 25447 ->12152417
Kindly assign me this issue.

[2021-09-30 13:33] amandugar opened #73 "4 Sum Problem"
I would Like to give the Solution of 4 Sum Problem in both JAVA and C++

[2021-09-30 13:38] avinash201199 commented on #61
Go ahead :)  @SanskritiKhatiyan

[2021-09-30 13:39] avinash201199 commented on #62
@Khushi-Agrawal-1
All the best :)

[2021-09-30 13:40] avinash201199 commented on #63
@avinash201199  go ahead :)

[2021-09-30 13:42] avinash201199 commented on #68
All the best :) @28Pollux28

[2021-09-30 13:43] avinash201199 commented on #72
@28Pollux28  Will assign this issue once your first issue is completed.

[2021-09-30 13:44] 2devyank commented on #64
@avinash201199 I have changed the topic because there is already a pr for bubble sort in java

[2021-09-30 13:44] avinash201199 commented on #73
Go ahead :) @amandugar

[2021-09-30 13:46] ritika728 opened #76 "Rotate array"
QUESTION: Given an unsorted array ar of size n and an element k. Rotate the array by k elements in anti-clockwise direction.

[2021-09-30 13:48] ritika728 commented on #76
Hey!
I am quite new to open source and would like to contribute on this issue. Please assign it to me and add the tag of Hacktoberfest.

[2021-09-30 14:04] avinash201199 commented on #76
All the best @ritika728
for any doubt ping me here -https://www.instagram.com/lets__code/

[2021-09-30 14:06] ritika728 commented on #76
Sure, thank you!

[2021-09-30 14:23] KrishJani opened #78 "Search in an almost sorted array"
Hey, I'm participating in Hacktober fest and I want to add a question to the repository.

Question: Given an array that is sorted such that some elements are moved to either of the adjacent positions, i.e., A[i] may be present at A[i+1] or A[i-1]. Write an efficient function to search an element in this array. Basically, the element A[i] can only be swapped with either A[i+1] or A[i-1].

it will c

[2021-09-30 14:24] KrishJani commented on #78
Kindly assign it to me and please add the label of hacktoberfest.

[2021-09-30 14:57] 2000shivam659 commented on #78
Please assign me this issue, I want to solve this in **java** language under Hacktoberfest'21.

[2021-09-30 15:00] 2000shivam659 commented on #62
Hey, kindly assign me this in java language under Hacktoberfest'21.

[2021-09-30 15:12] Khushi-Agrawal-1 commented on #62
@2000shivam659 I have been assigned this and I'll be doing this in Java only. Thankyou

[2021-09-30 15:19] 2000shivam659 commented on #62
Ofcourse, but you didn't mention the language which you will use. This problem can be solved in different languages in many ways.

[2021-09-30 15:24] Khushi-Agrawal-1 commented on #62
Sure

[2021-09-30 15:25] aditya-517 opened #81 "Array : Maximum Product of Two Elements in an Array (Java Solution)"
Hey @avinash201199 !!
I would like to add a question on Array to find the maximum product of two elements in an Array.
Can you assign it to me and add a HactoberFest label.

[2021-09-30 16:04] mukunddeepak opened #84 "Infix to Postfix Operation using Stacks Implementation in C"
Hey Avinash, Mukund here!
I'd like to implement converting an infix operation to postfix operations using Stacks in C programming language.
Please give approval so that i can start at the earliest!

Please consider this under hacktoberfest!
Regards,
Mukund Deepak

[2021-09-30 16:11] avinash201199 commented on #84
Go ahead :) @mukunddeepak

[2021-09-30 16:15] Piyuli opened #85 "LinkedList"
Hi, I am a participant of Hacktoberfest. I would like to add this question of linkedList. Kindly assign me this issue. Thank you.

Question: Complete the given function getCount(), which takes a head reference as an argument and should return the length of the linked list.

[2021-09-30 16:20] scshiv29-dev commented on #39
can i get assigned ?

[2021-09-30 16:20] YB73 opened #87 "Reverse a stack without using extra space in C++"
Hey Avinash, Yuvanna here!
I'd like to implement reversing a stack without using extra space in C++ language.
Please approve it at the earliest so that I can start working on it !

Please consider this under Hacktober Fest :)
Regards
Yuvanna Bawa

[2021-09-30 16:25] avinash201199 commented on #87
@YB73 Go ahead :)
follow for more such repo-https://github.com/avinash201199

[2021-09-30 16:30] pradyyadav opened #88 "Dynamic Programming: Best Time to buy and sell stocks."
Hi, I would like to contribute for this issue. Assign it to me.

[2021-09-30 16:42] aniket-24 opened #93 "Fibonacci Formula Program"
Implement the Fibonacci formula program in Java in O(1) time complexity!

[2021-09-30 16:42] aniket-24 commented on #93
Please assign this issue to me under Hacktoberfest!

[2021-09-30 16:45] Kushagrasaxena-13 opened #95 "Kadens Algorithm"
Hey this side kushagra. I want to contribute by adding Kadens Algorithm. Please assign me the work and add hacktoberfest label.

thanks a lot.

[2021-09-30 16:51] cezainmajeed commented on #95
Hey Cezain this side. I want to contribuute by adding clean and efficient code of Kadane algo. Please assign me this.

[2021-09-30 16:52] DoC-CoddER commented on #16
@avinash201199  can you multiple assign peoples ?

[2021-09-30 16:54] aditya-517 opened #96 "Binary Search : Peak Index in a Mountain Array (Java)"
Hey @avinash201199 !!
I would like to add a question to find Peak Index in a Mountain Array.
I will write Java code using Binary Search approach.
Please add a Hactoberfest label & assign this issue to me.

[2021-09-30 16:55] pranav-git-hub commented on #41
When I create a pull request the files for the other issue also get submitted in the same.
So, can you first approve the #66 pull request first.

[2021-09-30 16:59] DoC-CoddER commented on #10
@jigneshsolanki07 please assign this to me

[2021-09-30 17:06] avinash201199 commented on #88
Go ahead @pradyyadav  follow me for more such repo to contribute :)

[2021-09-30 17:14] dro-1 opened #98 "Java Script Selection Sort Algorithm"
I'd love to add this solution to the repo. Please assign the issue to me

[2021-09-30 17:15] avinash201199 commented on #93
Go ahead @aniket-24  follow me for more such repo to contribute :)

[2021-09-30 17:15] ritika728 opened #99 "Game with nos [array and bit magic]"
Given an array ar[], need to re-construct this array. The values in reconstructed array are obtained by doing Xor of consecutive elements in the array ar[]. I will solve this in C++.

[2021-09-30 17:16] ritika728 commented on #99
@avinash201199 Please assign me this!

[2021-09-30 17:21] avinash201199 commented on #95
@Kushagrasaxena-13  please specify your languages (C,C++,Java or Python).

[2021-09-30 17:22] avinash201199 commented on #95
will assign you in another language other than @Kushagrasaxena-13 one's.

[2021-09-30 17:23] rishab0902 commented on #93
Hi, I want to contribute in Hacktoberfest 2021. Please assign me this task and also add label as Hacktoberfest-accepted.

[2021-09-30 17:24] avinash201199 commented on #96
will assign this issue after first one is completed so wait for tomorrow

[2021-09-30 17:27] avinash201199 commented on #98
All the best @dro-1

[2021-09-30 17:30] avinash201199 commented on #99
Will assign you , wait for the first one to be merged.

[2021-09-30 17:30] navjotdadwal opened #103 "very-important-problem-on-manhatten-distance"
There are N points on the 2D plane, i-th of which is located on (xi,yi)(xi,yi). There can be multiple points that share the same coordinate. What is the maximum possible Manhattan distance between two distinct points?
Here, the Manhattan distance between two points (xi,yi)(xi,yi) and (xj,yj)(xj,yj) is defined by |xi−xj|+|yi−yj||xi−xj|+|yi−yj|.

[2021-09-30 17:31] ritika728 commented on #99
alright!

[2021-09-30 17:33] navjotdadwal commented on #103
sir this is a standard problem related to manhatten distance please assign this tags of hacktoberfest as i can very clearly explain the problem and provide the code.
Why you should assign this to me?
I am rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue.
following are my acc

[2021-09-30 17:40] Kushagrasaxena-13 commented on #95
C++

[2021-09-30 17:40] Kushagrasaxena-13 commented on #95
@avinash201199 I will do it on c++

[2021-09-30 17:48] Kushagrasaxena-13 commented on #95
please assign me

[2021-09-30 18:03] avinash201199 commented on #103
@navjotdadwal  Awesome , go ahead :)

[2021-09-30 18:06] ayushsaxena119 commented on #93
Hi, I would like to contribute to this issue. Please assign it to me under Hacktoberfest!

[2021-09-30 18:17] MuditWadhwa opened #105 "Add code for checking balanced tree in C++"
Hi, I am good in DSA but a beginner in open source. Could you please allow me to work on this issue and contribute well commented code for checking balanced tree in C++ and add the label hacktoberfest-accepted as well?

[2021-09-30 18:23] srijan-singh commented on #93
Hello!
I've registered in Hacktoberfest 2021 and this is my first time to contribute in opensource and I would like to contribute on this topic. I've earned 4 stars in java from Hackerrank and I'm pretty confident that I am able to do it.

[2021-09-30 18:30] avinash201199 commented on #105
Go ahead :) @MuditWadhwa
will add the tag hacktoberfest-accepted on pr

[2021-09-30 18:43] MeeeCoder opened #112 "Spiral Matrix C++"
**Question:** Given an m x n matrix, return all elements of the matrix in spiral order.
**Input:**
[code]
**Output:**  [1,2,3,6,9,8,7,4,5]
Can I work on this issue, please?

[2021-09-30 18:45] VaibhavMogha commented on #28
Please review #106 and review it.

[2021-09-30 18:48] mahesh-11102 opened #115 "nth smallest element in Binary Search Tree"
`Question:` Write a Java program to identify the kth smallest element in the binary search tree ?

`my code Output: `

![image](https://user-images.githubusercontent.com/77436328/135504705-b4c48c35-2be8-4a65-9a69-db264fa26e41.png)

As a part of `Hacktoberfest` @avinash201199   please assign this issue to me

[2021-09-30 18:56] nisavicjana opened #118 "stack and queue in c++"
I want to contribute and add stack and queue data structures to this project

[2021-09-30 19:08] Piyuli opened #122 "Array - Most asked Interview Question"
Question : It is raining in Pink City. The height of the buildings in the city is given in an array. Calculate the amount of water  that can be collected between all the buildings.

As a part of Hacktoberfest @avinash201199 please assign this issue to me

[2021-09-30 19:24] #118 closed

[2021-09-30 19:26] nisavicjana opened #127 "Searching algorithms in c++"
I want to contribute and add jump, interpolation, exponential and binary (iterative and recursive) searching algorithms to this project.

[2021-09-30 19:28] MeeeCoder commented on #112
Please assign this issue to me. @avinash201199

[2021-09-30 19:31] SayantaniDeb opened #128 "Build Array from Permutation"
I want to add a solution to the [leetcode question](https://leetcode.com/problems/build-array-from-permutation/)  in Java

[2021-09-30 19:36] KushalMehta39 opened #131 "Sum of two One-Dimensional Arrays using malloc()"
Hey @avinash201199  !!
I would like to add a question to find the Sum of two One-Dimensional Arrays using malloc().
I will write a code using C .
Please add a Hacktoberfest label & assign this issue to me.

Write a program in C such that the program will allocate 2 one-dimensional arrays using malloc() call and then will do the addition and stores the result into 3rd array. The 3rd array is also a

[2021-09-30 19:37] MuditWadhwa opened #132 "Add Breadth First Search and Depth First Search functions in one program using C++."
Hi,I would like to contribute to your repository as a participant in Hacktoberfest 2021. Could you please allow me to work on this issue as well as contribute well commented code for both BFS and DFS functions(in a single program) for graphs in C++? Can you please add the label hacktoberfest as well?

[2021-09-30 19:40] NitikaGupta16 opened #133 "Dynamic Programming: Palindrome Partitioning"
@avinash201199  Please assign this issue to me for contributing to hacktober fest.

[2021-09-30 19:42] manognyaa opened #134 "painting the fence - c++"
hello sir!!

I am interested in this problem, I will code in c++. Please assign me this sir.

problem- Given a fence with n posts and k colors, find out the number of ways of painting the fence such that at most 2 adjacent posts have the same color.

`@avinash201199 sir` pls kindly assign me this issue

[2021-09-30 19:47] ayushsaxena119 commented on #64
Hi, I would like to contribute to this issue. Please assign it to me under Hacktoberfest!

[2021-09-30 19:55] ayushsaxena119 commented on #98
Hi, I would like to contribute to this issue. Please assign it to me under Hacktoberfest!

[2021-09-30 19:56] ishika22 commented on #95
Hi @avinash201199, Ishika this side. My preferred language is Java. Can you please consider assigning this to me

[2021-09-30 19:58] ishika22 commented on #96
Hi @avinash201199
I have a solution in mind for this issue. I can write the code in Java. Could you please assign this issue to me.

[2021-09-30 20:11] MuditWadhwa opened #141 "Add a new category Sliding Window and also include the question on longest substring with k unique characters."
Hi, I would like to contribute to the project by making a new folder for sliding window technique. I would also like to add a question
on the same.
 Please assign this issue to me and add Hacktoberfest label to it.

[2021-09-30 20:12] avinash201199 commented on #127
Go ahead @nisavicjana

[2021-09-30 20:14] avinash201199 commented on #128
Go ahead @SayantaniDeb
follow me for more such repo to contribute.

[2021-09-30 20:17] avinash201199 commented on #133
@NitikaGupta16
All the best :)
follow me for more such repo to contribute

[2021-09-30 20:18] avinash201199 commented on #134
@manognyaa
All the best :)
follow me for more such repo to contribute

[2021-09-30 20:20] avinash201199 commented on #141
@MuditWadhwa
wait for the first one , will assing you .

[2021-09-30 20:22] djordje200179 opened #145 "Find subarray with largest sum in C++"
I can add algorithm of finding subarray in array with largest sum in C++

[2021-09-30 20:24] shubhamnag14 commented on #127
Can i contribute different sorting algo in python

[2021-09-30 20:24] shubhamnag14 commented on #112
can i work in this issue

[2021-09-30 20:25] manognyaa commented on #134
Sure sir. Thank you so much !!

[2021-09-30 20:26] shubhamnag14 commented on #132
Can I contribute to repo

[2021-09-30 20:27] syamala27 opened #147 "ATM"
`Question: `
Pooja would like to withdraw X $US from an ATM. The cash machine will only accept the transaction if X is a multiple of 5, and Pooja's account balance has enough cash to perform the withdrawal transaction (including bank charges). For each successful withdrawal the bank charges 0.50 $US. Calculate Pooja's account balance after an attempted transaction.

As a part of `Hacktberfest'21`

[2021-09-30 20:39] #48 closed

[2021-09-30 20:43] Harshalngp commented on #93
Please assign this issue to me. I would like to contribute in python, java & c++.

[2021-09-30 20:47] #11 closed

[2021-09-30 21:07] MeeeCoder opened #154 "Rotate a matrix clockwise and anti-clockwise | C++"
Given a matrix, I will display it after rotating it clockwise and anticlockwise by 90 degrees.
Input:
1 2 3
4 5 6
7 8 9
Output:
Clockwise:
7 4 1
8 5 2
9 6 3
Anti-clockwise:
3 6 9
2 5 8
1 4 7

[2021-09-30 21:17] RajkumarSony opened #155 "I wanted to add Array related Java Programs."

[2021-09-30 21:18] RajkumarSony opened #156 "I want to add Sorting related Java programs"

[2021-09-30 21:38] paltannistha opened #158 "Palindrome Linked List"
Hello I'm a participant of Hacktoberfest 2021. I'm very new to open source. I want to contribute in your repo DSA-Linked List by adding this problem with a solution in C++. Please assign me this issue.

**Problem Statement :**
You have been given a head to a singly linked list of integers. Write a function check to whether the list given is a 'Palindrome' or not.

**Sample Input 1:**
9 2 3 3 2 9 -

[2021-09-30 21:41] sgaurav37533 commented on #156
please assign me this issue

[2021-09-30 21:41] sgaurav37533 commented on #155
please assign me this issue

[2021-09-30 22:02] Hardik-Mittal opened #161 "Number of Provinces (graph) : C++"
I want to contribute to [this ](https://leetcode.com/problems/number-of-provinces/) question in C++.

Please assign this to me.

[2021-09-30 22:06] paltannistha opened #162 "Merge two Sorted Linked Lists"
Hello I'm a participant in Hacktoberfest 2021. I want to add this problem with the solution in C++ in your repo Linked List.
Please assign me to this.

**Problem Statement:**
You have been given two sorted(in ascending order) singly linked lists of integers.
Write a function to merge them in such a way that the resulting singly linked list is also sorted(in ascending order) and return the new head

[2021-09-30 22:09] paltannistha opened #163 "Array Problems with Solutions in C++"
Hello I want to add some more problems in Arrays with their solutions in C++. Please assign me to this.

[2021-09-30 23:42] erickcernarequejo opened #165 "The maximum product of adjacent elements in Java"
Write a program that reads an array of ints and outputs the maximum product of two adjacent elements in the given array of numbers.

Input data format

The first line of the input contains the number of elements in the array.

The second line contains the elements of the array separated by spaces.

Sample Input:
3
4 8 5

Sample Output:
40

Sample Input:
3
10 8 4

Sample Output:
80

[2021-10-01 00:40] navjotdadwal commented on #103
Ok sir

[2021-10-01 01:01] avinash201199 commented on #155
@RajkumarSony  please specify the question

[2021-10-01 01:02] avinash201199 commented on #155
@sgaurav37533 create your own issue will assign you

[2021-10-01 01:59] avinash201199 commented on #158
@paltannistha  go ahead :)
Follow for more such repo to contribute

[2021-10-01 02:01] avinash201199 commented on #161
@Hardik-Mittal  go ahead 😇

[2021-10-01 02:02] avinash201199 commented on #162
@paltannistha will assign you , first complete the first one.

[2021-10-01 02:49] anushkadubey opened #173 "Remove All Adjacent Duplicates in String in C++"
You are given a string **_s_** and an integer **_k_**, a **_k_** duplicate removal consists of choosing **_k_** adjacent and equal letters from **_s_** and removing them, causing the left and the right side of the deleted substring to concatenate together.

We repeatedly make **_k_** duplicate removals on **_s_** until we no longer can.

Return the final string after all such duplicate removals ha

[2021-10-01 02:49] SOURAB-BAPPA commented on #154
I want to solve this problem in C++

[2021-10-01 03:10] himanshuchandola opened #175 "Inversion Count of Array"
Please assign me this issue
#166

[2021-10-01 03:24] avinash201199 commented on #173
@anushkadubey Go ahead :)
follow me for more such repo to contribute.

[2021-10-01 03:26] #68 closed

[2021-10-01 03:34] geoffgeorgein commented on #127
I am a Competitive programmer well versed with various searching algorithms  please assign me this issue

[2021-10-01 03:35] #40 closed

[2021-10-01 03:36] #76 closed

[2021-10-01 03:41] ritika728 commented on #99
@avinash201199 Please assign this!

[2021-10-01 03:42] Vedika-Agrawal commented on #127
I would like to add my solution to the binary search. Please assign this issue to me.

[2021-10-01 03:46] avinash201199 commented on #127
yeah @shubhamnag14

[2021-10-01 03:47] avinash201199 commented on #127
create your own issue will assign you , binary search in java is already added choose any different language

[2021-10-01 03:48] avinash201199 commented on #127
@geoffgeorgein create your own issue will assign you .

[2021-10-01 03:50] arjun-khanduri commented on #63
@avinash201199 I have made the pull request. Can you check if it is good enough to be merged?

[2021-10-01 03:51] geoffgeorgein opened #179 "Binary Search using C++(STL)"

[2021-10-01 03:52] sachin4429 opened #180 "Length of Last Word in the given String"
Given a string s consisting of some words separated by some number of spaces, return the length of the last word in the string.

A word is a maximal substring consisting of non-space characters only.

Example 1:

Input: s = "Hello World"
Output: 5
Explanation: The last word is "World" with length 5.

Example 2:

Input: s = "luffy is still joyboy"
Output: 6
Explanation: The last word is "joyboy" wi

[2021-10-01 03:52] sachin4429 commented on #180
Can I work in this Issue for Hactoberfest 2021.

[2021-10-01 03:53] Swapna804 commented on #33
I am participating in hacktoberfest and would like to contribute .Please assign it.

[2021-10-01 03:53] geoffgeorgein commented on #145
I can write an optimized code for this. Please assign me.

[2021-10-01 03:57] das-jishu opened #181 "Would like to add problem: Jump Game"
### JUMP GAME

Given an array of non-negative integers, you are initially positioned at the first index of the array. Each element in the array represents your maximum jump length at that position. Determine if you are able to reach the last index.

**Example 1:**
Input: nums = [2,3,1,1,4]
Output: true
Explanation: Jump 1 step from index 0 to 1, then 3 steps to the last index.

**Example 2:**
Inpu

[2021-10-01 03:58] Mohamed-Ayaan358 opened #182 "Doubly linked list in c"
Hey!
I am Mohamed ayaan and I am a participant registered in Hacktoberfest.
This is my first issue in this repository. I would like to contribute on the topic:-

Doubly Linked List in C language.
The program would include Insertion, Deletion at multiple positions- having proper comments explaining each part of the code.

 Could you please assign this issue to me.
Thank You!

[2021-10-01 04:09] Masters-Akt opened #187 "Linked List in C"
There is no code available for Linked List in C language. I would like to add it.

[2021-10-01 04:09] harry6003 opened #188 "Longest Common Subsequence in C++ (Dynamic programming)"
Given two sequences, find the length of longest subsequence present in both of them. A subsequence is a sequence that appears in the same relative order, but not necessarily contiguous. For example, “abc”, “abg”, “bdf”, “aeg”, ‘”acefg”, .. etc are subsequences of “abcdefg”.

Examples:
LCS for input Sequences “ABCDGH” and “AEDFHR” is “ADH” of length 3.
LCS for input Sequences “AGGTAB” and “GXTXAYB”

[2021-10-01 04:09] Vedika-Agrawal commented on #127
Ys isr i would ;ike to contribue in c++

[2021-10-01 04:09] harry6003 commented on #188
Can I work in this Issue for Hactoberfest 2021.
@avinash201199

[2021-10-01 04:11] SwatiSrivastava216 opened #189 "Running Sum of an Array in Java"
Write a program that reads an array of nums and outputs the running sum of in the given array of numbers.

Sample Input:
[1,2,3,4]

Sample Output:
[1,3,6,10]

Explanation:
Running sum is obtained as [1, 1+2, 1+2+3, 1+2+3+4]

[2021-10-01 04:13] M-Manas-s opened #190 "1461B Find the Spruce"
Hey! I want to solve this problem from codeforces - [Find The Spruce](https://codeforces.com/contest/1461/problem/B) using C++.
Please, assign this to me.

[2021-10-01 04:13] esheetaparulekar commented on #162
Hello, I would like to work on this issue in Java. Could you please assign it to me?

[2021-10-01 04:16] esheetaparulekar commented on #158
Hello, I would like to work on this issue in Java. Could you please assign it to me?

[2021-10-01 04:16] SanskritiKushik5 opened #191 "Nearest smaller to right - C++"
Can I add a solution to this problem?

[2021-10-01 04:17] geoffgeorgein opened #192 "Linear search using C++(STL)"
Seatching for an element in an array with O(N) complexity

[2021-10-01 04:19] SanskritiKushik5 opened #193 "Maximum area Histogram - C++"
Find the largest rectangular area possible in a given histogram where the largest rectangle can be made of a number of contiguous bars. Assume that all bars have the same width and the width is 1 unit.

Can I add a solution to this problem?

[2021-10-01 04:19] Adityagupta1625 commented on #25
#176

[2021-10-01 04:23] Mohamed-Ayaan358 commented on #187
Isn't this a bit generalised?

[2021-10-01 04:25] SanskritiKhatiyan commented on #61
@avinash201199 hey!! plz review it and plzz merge it if it is fine otherwise tell me what to improve.

[2021-10-01 04:25] Masters-Akt commented on #187
Since there was no code present, so I generated this issue. Currently added Singly Linked List with all the features. Working on adding more

[2021-10-01 04:26] chetan639 opened #198 "Implementation of Stack C++"
There is no code for stack in c++, I would like to work on it.

[2021-10-01 04:27] geoffgeorgein opened #199 "0-1 Knapsack DP C++(STL)"
I shall implement an iterative solution with O(N*N) time complexity

[2021-10-01 04:34] Mohamed-Ayaan358 commented on #187
I think you are mistaken i do believe someone has already done singly linked list in c

[2021-10-01 04:35] AnimeshMore opened #202 "Dynamic Programming : Minimum Sum Partition"
Given an integer array arr of size N, the task is to divide it into two sets S1 and S2 such that the absolute difference between their sums is minimum and find the minimum difference

[2021-10-01 04:36] SwatiSrivastava216 opened #203 "Finding the smallest letter greater than the target in Java"
Given a characters array (arr) that is sorted in non-decreasing order and a character (key), return the smallest character in the array that is larger than the key.

Sample Input:
arr = ["c","f","j"]
key = "a"

Sample Output:
"c"

[2021-10-01 04:37] Mohamed-Ayaan358 opened #204 "Implementation of priority queue in C"
Hey!
I am Mohamed ayaan and I am a participant registered in Hacktoberfest.
This is my second issue in this repository. I would like to contribute on the topic:-

This is a priority queue in the C language.
The program would include Insertion, deletion and displaying- having proper comments explaining each part of the code.

Could you please assign this issue to me?
Thank You!

[2021-10-01 04:37] AnimeshMore commented on #202
@avinash201199 Pls assign me this issue to me for contributing to this question in C++

[2021-10-01 04:40] sathiyajith commented on #189
I would like to work on this issue in python language. Let me place the code in array/python directory.

[2021-10-01 04:42] Mohamed-Ayaan358 opened #205 "Examples programs for linked list and stacks"
Hey!
I am Mohamed ayaan and I am a participant registered in Hacktoberfest.
This is my third issue in this repository. I would like to contribute on the topic:-

Example programs(For understanding the implementation) for linked list in C as well as stacks in C
The program includes examples for the topics- having proper comments explaining each part of the code.

Could you please assign this issue

[2021-10-01 04:55] sathiyajith opened #207 "largest subtree sum in a tree"
Hey!
I am quite new to open source and would like to contribute on this issue. Please assign it to me and please add the label of Hacktoberfest.

[2021-10-01 04:59] 2devyank opened #209 "Power Set Using Bitwise Operator"

[2021-10-01 05:00] 2devyank commented on #209
@avinash201199 please assign me this issue

[2021-10-01 05:08] KrishJani opened #211 "Merge Two Binary Trees | Java"
I want to add a java file the has an explanation and a code for merging two binary trees. Kindly assign me to this and add a hacktoberfest tag to it.

[2021-10-01 05:10] harry6003 commented on #188
Hi @avinash201199  I'm an Hactoberfest participant and I would like to submit this question that comes under the Dynamic Programming category : Longest Common Subsequence

The most asked question in Interview

Kindly assign me this issue.

[2021-10-01 05:18] irit2607 opened #214 "Find the position of element in a infinte sorted array"
I wish to contribute to the problem in the C++ language.

[2021-10-01 06:02] MuditWadhwa commented on #141
I would like to contribute a question in the sliding window category(and add the sliding window folder as well). Please assign this issue to me and add the Hacktoberfest label as well.

[2021-10-01 06:36] Kushagrasaxena-13 commented on #50
I have added issued new pull request at #219  please review and merge it. I have added comments

[2021-10-01 06:36] Kushagrasaxena-13 commented on #50
@avinash201199

[2021-10-01 06:44] SB2318 commented on #180
I want to work on this using Java language

[2021-10-01 06:45] SaahilSabu opened #222 "Dijkstra’s shortest path algorithm"
i would like to add this issue . pls assign this to me also add the hactoberfest label for this issue

[2021-10-01 06:52] MeeeCoder opened #223 "Group Anagrams | C++"
An **Anagram** is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

**Question:** Given a vector of strings, return a 2D string vector in which all the strings are grouped.
**Input:** strs = ["eat","tea","tan","ate","nat","bat"]
**Output:** [["bat"],["nat","tan"],["ate","eat","tea"]]

I would like to work on th

[2021-10-01 06:58] ishika22 opened #224 "Diameter of Binary tree [JAVA]"
**Problem Description**
To find diameter of the binary tree in O(n) time complexity. The diameter of a tree is the number of nodes on the longest path between two end nodes.
**Proposed Solution**
Maintaining a class variable to finding the height of each node rather than recursively finding it every time.

@avinash201199 can you please assign this issue to me.

[2021-10-01 07:04] mephi007 commented on #224
Hi, I would like to contribute. Please assign it to me.

[2021-10-01 07:05] ishika22 opened #225 "Majority Element in an Array"
**Problem Description**
We need to find the majority element if it exists in an array. Majority element is an element which occurs for more than n/2 times in an array where n is the length of the array.

**Expected Time Complexity**
O(n)
**Expected Space Complexity**
O(1)

**Sample Testcase**
Input: 10,5,8,10,10,10,7,10
Output: 10

@avinash201199 can you please assign this to me.

[2021-10-01 07:06] MeeeCoder opened #226 "Single Number | C++"
**Question:** Given an array of integers, all the numbers appears twice except one number, we need to find that number.
**Contraints:** Complete it in O(n) time complexity
**Input:** [1, 2, 3, 3, 1, 9, 2]
**Output:** 9

Please allow me to work on this issue @avinash201199
Thank you

[2021-10-01 07:08] mephi007 opened #227 "Longest Substring Without Repeating Characters"
Hi @avinash201199, I would like to contribute this question in Java. Can you please assign?

[2021-10-01 07:10] mephi007 opened #228 "Word Ladder"
Hi @avinash201199, I would like to contribute this question.

[2021-10-01 07:11] mephi007 opened #229 "Sliding Window Maximum"
Hi @avinash201199, I would like contribute this question. Can you please assign this to me?

[2021-10-01 07:20] Prabhjout commented on #180
Hi I am a participant of hacktoberfest 2021 Can I work on this Issue I will be solving this issue using java

[2021-10-01 07:29] avinash201199 commented on #182
@Mohamed-Ayaan358  Go ahead :)
follow me for more such repo to contribute .

[2021-10-01 07:36] manvikri22 opened #233 "Merge Circular Linked List (Java)"
Hacktoberfest2021

[2021-10-01 07:36] manvikri22 commented on #233
Can i work on this issue for Hacktoberfest2021??

[2021-10-01 07:47] ritwik3856 opened #235 "Sparse Matrix | C"
WAP to represent a sparse matrix using linked list.
1. Find out the transpose of a sparse matrix.
2. Multiply the two sparse matrices.

[2021-10-01 07:49] ritwik3856 commented on #235
can work on this issue for the hacktoberfest also label the issue and assign me.

[2021-10-01 08:06] Mohamed-Ayaan358 opened #238 "Add circular queue into queue repository | C"
I do possess the code for the circular queue which comprises basic functions like insert, delete and display.

It also has the delete and initialises queue codes.

Note that this code uses arrays in C language

[2021-10-01 08:18] YB73 opened #240 "Backtracking using Bitmasking in C++"
Hey Avinash!
Please approve this issue so that I can start working on it :)
The question is to implement Backtracking using Bitmasking in C++.

Regards,
Yuvanna Bawa

[2021-10-01 08:27] SB2318 opened #242 "Shortest Subarray with Sum at Least K"
I am Susmita Bhattacharya, and I am participating in Hacktoberfest 2021.
I am totally new and noob in open-source contributions.
I would like to contribute on this topic. It is a leetcode question and  I want to solve it in Java language. Please assign it to me.

###  **Question:**
Given an integer array nums and an integer k, return the length of the shortest non-empty subarray of nums with a sum

[2021-10-01 08:30] Yasas4D opened #243 "Merge Sort using JAVA"
Hi Avinash!

I would like to contribute on the topic:-

Merge Sort using JAVA

Input Array :  [ 2, 6, 3, 5, 1, 1, 8 ]
Output Array : [ 1, 1, 2, 3, 5, 6, 8 ]

Input Array :  [ 12, 16, 333, 50, 1000, 5, 897, 1, 3, 66, 13 ]
Output Array : [ 1, 3, 5, 12, 13, 16, 50, 66, 333, 897, 1000 ]

Could you please assign this issue to me?
Thank You!

[2021-10-01 08:41] Kushagrasaxena-13 commented on #50
I have issued the pull request please review it and merge it. #57

[2021-10-01 08:42] avinash201199 commented on #205
@Mohamed-Ayaan358  only 2 pull request are accepted in a single repo , please delete extra issue and pr .

[2021-10-01 08:44] Mohamed-Ayaan358 commented on #205
Could you please specify which ones must I delete?

[2021-10-01 08:46] #30 closed

[2021-10-01 08:46] #28 closed

[2021-10-01 08:47] Yasas4D opened #246 "Exponential Search using Java"
Hi Avinash!
I would like to add Exponential Search in (Java)
Could you please assign this issue to me?
Thank You!

[2021-10-01 08:47] avinash201199 commented on #6
@vish-han  2 pr accepted already.

[2021-10-01 08:47] #6 closed

[2021-10-01 08:51] Yasas4D opened #247 "Binary Search using Java"
Hi Avinash!
I would like to add Binary Search using Java
Could you please assign this issue to me?
Thank You!

[2021-10-01 08:58] Yasas4D opened #250 "Selection Sort using Python"
Hi Avinash!
I would like to add Selection Sort using Python
Could you please assign this issue to me?
Thank You!

[2021-10-01 08:59] Abhicoder03 commented on #54
@avinash201199 Done. Please merge it.

[2021-10-01 09:08] MuditWadhwa opened #251 "Add Aggressive Cows problems in Binary search"
Hi, I can add the Aggressive  Cows problem in C++ with in depth explanation using comments. Please assign this issue to me with the hacktoberFest tag.

[2021-10-01 09:15] SB2318 commented on #242
Please assign it to me.

[2021-10-01 09:23] tausiq2003 commented on #31
should I contribute

[2021-10-01 09:27] tausiq2003 commented on #154
should I contribute

[2021-10-01 09:49] aditya-517 opened #254 "Arrays : Jewels and Stones (Java Solution)"
You're given strings jewels representing the types of stones that are jewels, and stones representing the stones you have.
Each character in stones is a type of stone you have.
You want to know how many of the stones you have are also jewels.

Letters are case sensitive, so "a" is considered a different type of stone from "A".

Example 1 :
Input : jewels = "aA", stones = "aAAbbbb"
Output : 3

Exam

[2021-10-01 10:11] jigneshsolanki07 opened #255 "Program to insert an element in an array in c++."
Program to insert an element in an array in c++.

[2021-10-01 10:19] jigneshsolanki07 opened #256 "Program to delete an element in an array."
C++ Program to delete an element in an array.

[2021-10-01 10:19] Adi7171 opened #257 "DSA : Implementation of Binary search tree in Python"
Hi Avinash  I Would like to contribute binary search tree implementation in Python for Hacktoberfest fest in your repository. @avinash201199

[2021-10-01 10:44] prakharshukla48 commented on #180
Hi I am a participant of hacktoberfest 2021 Can I work on this Issue? I will be solving this issue using python.

[2021-10-01 10:49] avinash201199 commented on #250
only 2 pr per day , so will assign only 2 issue per day

[2021-10-01 10:59] 28Pollux28 commented on #72
All done ! Can you assign it to me ?

[2021-10-01 11:16] Yasas4D commented on #250
Sure! Thank you!

[2021-10-01 11:18] SwatiSrivastava216 opened #260 "Finding the duplicate number in the array using Java"
Given an array of integers arr containing n + 1 integers where each integer is in the range [1, n] inclusive.
There is only one repeated number in arr, return this repeated number.
You must solve the problem without modifying the array arr and uses only constant extra space.

Sample Input:
[3,1,3,4,2]

Sample Output:
3

Please assign this question to me and add hacktoberfest label to it.

[2021-10-01 11:18] Khushi-Agrawal-1 commented on #62
@avinash201199 I have made a PR. Kindly review it. Thank you

[2021-10-01 12:04] pradyyadav commented on #88
@avinash201199 I have done my work on this issue.

[2021-10-01 12:09] pradyyadav opened #262 "Dynamic Programming: Climbing Stairs"
Hi, I have my code written for this issue. Please assign it to me.

[2021-10-01 12:12] illusion001 opened #263 "Adding Kahn's Algorithm"
Please assign this under hactoberfest.

[2021-10-01 12:38] mayankgoyal-13 opened #266 "Program to find the number of lines,words and characters in a .txt file using Python"

[2021-10-01 12:39] mayankgoyal-13 commented on #266
Hey, i would like to submit this program using the Python language. Pls assign this to me, this is my first issue today

[2021-10-01 13:06] nitinkumar30 opened #268 "DSA using C language"
After carefully going through the repo, I was able to see DSA with C language directory is empty. I want to contribute it using some of my knowledge.
I'll be implementing array using C language with all set of operations -
- traversing
- insertion
- deletion

Please tag this issue with 'hacktober fest 2021'

[2021-10-01 13:24] arjun-khanduri opened #269 "Knuth Morris Pratt algorithm for string matching (Java)"
Hey @avinash201199!

I want to add a popular yet complex algorithm for string matching, that is, the __KMP Algorithm__ in Java. This algorithm searches for the pattern string in another string, optimally.

Can you add the `hacktoberfest` label and assign this task to me?

[2021-10-01 13:25] #63 closed

[2021-10-01 13:56] vishakha-aggarwal opened #270 "Adding DP problem of Maximal Square"
I would like to add this problem in DP folder of C++.

**Problem:**
Given an m X n binary matrix filled with only 0's and 1's, Find the largest square containing only 1's and return its area.

**Example:**

Let Matrix be:
1,0,**1,1**,1
1,1,**1,1**,1
1,0,0,1,0

So, the maximum area of the square would be : 4

Kindly assign me this issue.
Please tag this issue with 'hacktoberfest 2021'.

[2021-10-01 14:08] ZeelParekh10 opened #271 "Stack Program"
I would like to add Code of Stack...........
language: C
Implement a program for stack that performs following operations using array.
(a) PUSH (b) POP (c) PEEP (d) CHANGE (e) DISPLAY

Please assign me this issue.
Tag Hacktomber fest also.
Thank You !!!

[2021-10-01 14:11] #205 closed

[2021-10-01 14:12] #238 closed

[2021-10-01 14:12] Mohamed-Ayaan358 commented on #204
@avinash201199 I have removed the extra issues and pr

[2021-10-01 14:20] vishakha-aggarwal opened #272 "Adding DP problem - Count Square Submatrices with All Ones"
I would like to add this problem in DP folder of C++.

### Problem:
Given a m X n matrix of 1's and 0's,  return how many square submatrices have all ones.

**Example 1:**

0,1,1,1
1,1,1,1
0,1,1,1

So, there are 15 squares consisting all 1's.
Please assign me this issue for hacktoberfest 2021.

[2021-10-01 14:30] Kushagrasaxena-13 commented on #95
@avinash201199 please assign me this work

[2021-10-01 14:59] vishakha-aggarwal opened #273 "Adding Trapping Rainwater Problem in Arrays"
I would like to add this problem in arrays folder in C++

### Problem:
Given n integers representing an elevation map where the width of each bar is 1, find how much water it can trap after raining.

**Example:**
[code]

Please assign me this issue for hacktoberfest 2021

[2021-10-01 15:02] himanshuchandola commented on #175
Kindly Check my PR #166

[2021-10-01 15:08] khushbooSingh99 opened #274 "Addition of concept of Disjoint Set Union."
Addition of DSU concept.

Often it is also called Union Find because of its two main operations.

**I want to add a text file for the implementation details as well as,
I will add a question that involves this concept,**

Please accept my improvement. @avinash201199 , and assign me this issue.

[2021-10-01 15:33] fakeshkol commented on #20
could you please assign me bubble sort in Golang?

[2021-10-01 15:46] pranav-git-hub commented on #45
Done

[2021-10-01 15:46] #45 closed

[2021-10-01 15:46] pranav-git-hub commented on #44
Done

[2021-10-01 15:46] #44 closed

[2021-10-01 15:46] pranav-git-hub commented on #42
Done

[2021-10-01 15:46] #42 closed

[2021-10-01 15:46] pranav-git-hub commented on #41
Done

[2021-10-01 15:46] #41 closed

[2021-10-01 15:48] Rohit5152 commented on #273
please assign this problem to me .Because I solved 200+ problems on leetcode and other coding platforms
It also help me in contributing in your good intiatives .
Please Assign this to me.

[2021-10-01 15:52] sgaurav37533 opened #277 "Algorithms adding Issue"
I want to Jump sort, Interpolation sort, radix sort and quick sort in this repo. Please assign me to work on these issues @avinash201199

[2021-10-01 15:52] Rohit5152 commented on #229
Hi ,please Assign this problem to me .I have solved more than 200 problems on leetcode .
It helps me to contribute in your good initatives
please assign this to me.

[2021-10-01 16:29] #112 closed

[2021-10-01 16:30] MeeeCoder commented on #112
Closing issue #112 Spiral Matrix

[2021-10-01 16:41] paltannistha commented on #158
Yeah thank you.

[2021-10-01 16:48] naman5825 commented on #158
Hello, I would like to work on the issue in C++. Could you please assign in to me?

[2021-10-01 16:50] #9 closed

[2021-10-01 16:53] #23 closed

[2021-10-01 17:05] #25 closed

[2021-10-01 17:16] #60 closed

[2021-10-01 17:17] sohilladhani commented on #58
Closing it since it got merged.

[2021-10-01 17:17] #58 closed

[2021-10-01 17:20] #31 closed

[2021-10-01 17:24] Prince-ranjan commented on #262
Hello, i have written the codes for this problem using recursion, memoization with recursion, and dynamic programming. Please assign me this problem under hacktoberfest tag

[2021-10-01 17:37] akshitaPrajapati commented on #266
Hey, Avinash.
Could you  please assign me this task, so I could contribute to it?

[2021-10-01 17:44] harry6003 commented on #188
Resolved in #197.

[2021-10-01 17:44] #188 closed

[2021-10-01 18:04] #198 closed

[2021-10-01 18:04] #204 closed

[2021-10-01 18:19] #88 closed

[2021-10-01 18:28] ishneet890 commented on #133
Please assign me this issue for contributing to hacktober fest.

[2021-10-01 18:29] srusti610 commented on #180
Hello, I would like to contribute. May I be assigned to this?

[2021-10-01 18:34] ASLManasa opened #290 "longest common prefix"
Hi, I am a participant of Hacktoberfest. I would like to add this question in strings. Kindly assign me this issue. Thank you.
Question:
Write a function to find the longest common prefix string amongst an array of strings.
If there is no common prefix, return an empty string "".
 Input: strs = ["flower","flow","flight"]
Output: "fl"

[2021-10-01 18:37] #61 closed

[2021-10-01 18:48] avinash201199 commented on #187
@Masters-Akt  this program is already added in c , choose any other language , create another issue , closing this one .

[2021-10-01 18:49] #133 closed

[2021-10-01 18:52] avinash201199 commented on #191
@SanskritiKushik5
Sure , go ahead :)
please don't forget to add little info about the program using comment line at begging of the program.

[2021-10-01 19:13] khushbooSingh99 commented on #274
I have posted the corresponding PR for this.

[2021-10-01 19:19] Piyuli opened #296 "Heap Sort"
Given an array of size N. The task is to sort the array elements by completing functions heapify() and buildHeap() which are used to implement Heap Sort.

As a part of Hacktoberfest @avinash201199 please assign this issue to me

[2021-10-01 19:25] #145 closed

[2021-10-01 19:25] sparsh0602 commented on #15
I can add lot of backtracking problem-solutions including  Knight 's tour , subset partition , n-queen , rat-in-maze , sudoku-solver etc.
Plz assign me this.

[2021-10-01 19:27] #161 closed

[2021-10-01 19:30] rajputarjun2001 commented on #271
Hi @ZeelParekh10 could you please assign this to me?

[2021-10-01 19:43] Piyuli opened #301 "Count zeros in a sorted matrix"
Question: Given a N X N binary Square Matrix where each row and column of the matrix is sorted in ascending order. Find the total number of zeros present in the matrix.

As a part of Hacktoberfest @avinash201199 please assign this issue to me

[2021-10-01 19:43] #54 closed

[2021-10-01 19:45] #296 closed

[2021-10-01 19:51] #62 closed

[2021-10-01 19:52] RahulSharma4329 opened #303 "Finding Kth Maximum and Kth minimum Element in an array"
Question : finding the kth maximum and minimum element in an array of n elements using c++

Please assign this issue to me under the tag of 'hacktoberfest' @avinash201199

[2021-10-01 19:53] Nishkarsh-Gupta opened #304 "code for bubble sort"

[2021-10-01 19:57] #304 closed

[2021-10-01 20:35] avinash201199 commented on #274
@khushbooSingh99
Great :)

[2021-10-01 20:39] #274 closed

[2021-10-01 20:42] #301 closed

[2021-10-01 21:03] avinash201199 commented on #192
@geoffgeorgein please add some information

[2021-10-01 21:05] avinash201199 commented on #193
@SanskritiKushik5 go ahead :)  don't forget to add the information in code file.

[2021-10-01 21:08] avinash201199 commented on #202
@AnimeshMore  Go ahead :)

[2021-10-01 21:11] #207 closed

[2021-10-01 21:15] s1042992 opened #308 "Mergesort using n/2 extra memory space"
I would like to do merge sort only use using n/2 extra memory space in c++
plz assign this to me, thank you.

[2021-10-01 21:21] avinash201199 commented on #226
Note- only 2 pr per day on a single repo is accepted.

[2021-10-01 21:23] avinash201199 commented on #229
you have already assigned with 2 issue ,complete  those first , 2 issue per day.

[2021-10-01 21:29] avinash201199 commented on #247
@Yasas4D only 2 issue per day on a some repo so closing the issue .
contribute to other repo also

[2021-10-01 21:29] #247 closed

[2021-10-01 21:30] #250 closed

[2021-10-01 21:31] avinash201199 commented on #251
@MuditWadhwa  don't forget to add the problem statement in the program file

[2021-10-01 21:32] avinash201199 commented on #254
@aditya-517 don't forget to add the same problem statement in the code file

[2021-10-01 21:34] avinash201199 commented on #257
@Adi7171  Go ahead :)

[2021-10-01 21:35] #263 closed

[2021-10-01 21:36] avinash201199 commented on #262
create your own and specify the language will assign you.

[2021-10-01 21:38] avinash201199 commented on #266
please create your own issue ,will surely assign you :)

[2021-10-01 21:41] AayushMaurya opened #309 "find number of pairs using binary search in c++"

[2021-10-01 21:47] avinash201199 commented on #273
create your own issue will assign you.

[2021-10-01 21:50] avinash201199 commented on #273
will assign you once you complete the first 2 one .

[2021-10-01 21:52] avinash201199 commented on #277
@sgaurav37533
don't forget to add little info about the programs :)

[2021-10-01 21:55] avinash201199 commented on #309
@AayushMaurya
don't forget to add the problem statement in the code file

[2021-10-01 21:55] #3 closed

[2021-10-01 21:59] avinash201199 commented on #16
no , create your own issue .

[2021-10-01 21:59] #16 closed

[2021-10-01 22:01] #20 closed

[2021-10-01 22:02] avinash201199 commented on #10
create your own issue.

[2021-10-01 22:12] AayushMaurya commented on #309
will take care of that

[2021-10-02 00:50] #84 closed

[2021-10-02 01:09] RahulSharma4329 opened #314 "Matrix Multiplication Using Java Python and C++"
Question - given two matrices of size m x n and p x q, find the product matrix of the given matrices.
Please assign me this issue under the tag of hacktober fest @avinash201199

[2021-10-02 02:23] #179 closed

[2021-10-02 02:29] #181 closed

[2021-10-02 03:05] Ayushi2905 opened #316 "N=4"

[2021-10-02 03:09] Ayushi2905 opened #317 "Find MEDIAN in a Stream"
Given an input stream of N integers. The task is to insert these numbers into a new stream and find the **median of the stream** formed by each insertion of X to the new stream.
For example-
input- N=4
           X[ ]=5,15,1,3

output- 5
             10
             5
             4

[2021-10-02 03:11] M-Manas-s opened #318 "Codeforces - 1360E"
Hi! I want to solve this problem [E. Polygon](https://codeforces.com/contest/1360/problem/E) from codeforces. Please assign this to me.

[2021-10-02 03:20] paltannistha commented on #162
Hello I have already completed the first one. Can you now please assign this to me?

[2021-10-02 03:24] paltannistha commented on #162
Hello I have already completed the first one. Can u now please assign this to me?

[2021-10-02 03:39] pradyyadav opened #323 "Greedy: Partition Arrays into three equal parts with equal sum"
@avinash201199 I would like to work on this issue. Assign me .

[2021-10-02 04:12] Rohit5152 commented on #273
bro i am facing some problems while making pull request please help me

On Sat, 2 Oct 2021 at 03:21, Avinash Singh ***@***.***> wrote:

[2021-10-02 04:26] #214 closed

[2021-10-02 04:31] #191 closed

[2021-10-02 04:44] Ayushi2905 opened #328 "Next Permutation"
Implement the next permutation, which rearranges the list of numbers into Lexicographically next greater permutation of list of numbers. If such arrangement is not possible, it must be rearranged to the lowest possible order i.e. sorted in an ascending order. You are given an list of numbers arr[ ] of size N.

Input: N = 6
arr = {1, 2, 3, 6, 5, 4}
Output: {1, 2, 4, 3, 5, 6}

[2021-10-02 04:59] avinash201199 commented on #162
Go ahead :)

[2021-10-02 05:07] #187 closed

[2021-10-02 05:09] avinash201199 commented on #316
please , add description

[2021-10-02 05:12] avinash201199 commented on #273
create new issue , will assign you

[2021-10-02 05:14] apimpulse opened #333 "Allocate minimum number of pages cpp code"
I would like to add this problem in search & short folder in C++

[Binary Search Interview Problem by apimpulse] //hacktoberfest2021

Given number of pages in n different books and m students. The books are arranged in ascending order of number of pages. Every student is assigned to read some consecutive books. The task is to assign books in such a way that the maximum number of pages assigned to

[2021-10-02 05:14] #7 closed

[2021-10-02 05:15] #5 closed

[2021-10-02 05:16] #8 closed

[2021-10-02 05:16] Manoj-Suru opened #334 "STRING REVERSE USING RECURSION"

[2021-10-02 05:17] avinash201199 commented on #333
@apimpulse  don't forget to add problem statement on the code file using comment line

[2021-10-02 05:18] avinash201199 commented on #334
specify language :)

[2021-10-02 05:18] Manoj-Suru opened #335 "String reversal using recursion"
I added the code of this problem

[2021-10-02 05:19] avinash201199 commented on #316
closing the issue because you have already 2 issue assigned :)

[2021-10-02 05:19] #316 closed

[2021-10-02 05:20] avinash201199 commented on #318
@M-Manas-s
don't forget to add problem statement on code file using comment line

[2021-10-02 05:20] #335 closed

[2021-10-02 05:22] Yasas4D commented on #243
@avinash201199 Done!

[2021-10-02 05:26] 2000shivam659 opened #337 "Find in Mountain Array"
## Link of the question
https://leetcode.com/problems/find-in-mountain-array/
<img width="957" alt="cd" src="https://user-images.githubusercontent.com/76156804/135704568-fc55c311-c92c-4ce3-93eb-9698ed6a8374.png">

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ]

[2021-10-02 05:28] 2000shivam659 commented on #337
Kindly assign me this issue @avinash201199 under Hacktoberfest'21.

[2021-10-02 05:32] ZeelParekh10 opened #341 "Sorting Methods"
I would like To add codes of some sorting methods in Search and Sort folder.
language: C
Sorting Methods:
Bubble Sort
Selection Sort
QuickSort

Would also like to change the name of the folder as i think there is a typo in the name of the folder.

Iam a Hacktomber Fest Participant..........

[2021-10-02 05:33] 2000shivam659 opened #342 "First Missing Positive - LeetCode"
### Link of the question
https://leetcode.com/problems/first-missing-positive/

### Coding platform

- [x] LeetCode

### Programming language

- [x] Java

### Additional context (OPTIONAL)
<img width="955" alt="sd" src="https://user-images.githubusercontent.com/76156804/135704919-da1d5e80-0bce-4eb0-b64e-36dd5c77e501.png">

[2021-10-02 05:34] avinash201199 commented on #337
@2000shivam659
don't forget to add problem statement on the code file :)

[2021-10-02 05:34] 2000shivam659 commented on #342
Kindly assign me this issue @avinash201199 under Hacktoberfest'21.

[2021-10-02 05:35] avinash201199 commented on #341
@ZeelParekh10
don't forget to add problem statement.

[2021-10-02 05:37] ZeelParekh10 commented on #341
Okay !!!!

[2021-10-02 05:42] Yasas4D commented on #246
@avinash201199 Done!

[2021-10-02 05:45] rnrathod16 commented on #273
Could you please assign me this problem

[2021-10-02 05:53] akshitaPrajapati opened #344 "Implementation of Floyd Warshall Algorithm using Java"

[2021-10-02 05:57] #180 closed

[2021-10-02 05:57] akshitaPrajapati commented on #344
Please assign me this issue under hacktoberfest'21 @avinash201199

[2021-10-02 05:59] rnrathod16 opened #346 "Remove Common characters from 2 strings"
Hi, I am a participant of Hacktoberfest. I would like to add this question in strings. Kindly assign me this issue. Thank you.
Question:
Write code to delet all the occurrences of common characters from both the strings str1 and str2 concatenate the remaining characters str1 followed by str2.

Input:
str1 = abdjkli
str2  = bxcvbe

Output: adjklixcve

Explanation : -
In this we will delete the comm

[2021-10-02 06:09] irit2607 opened #349 "Detection and Removal of a cycle"
I want to contribute to the problem.

[2021-10-02 06:11] rnrathod16 opened #350 "Pair Sum Problem Optimized"
Hi, I am a participant of Hacktoberfest. I would like to add this question of pair sum which can be solved with the help of sets. Kindly assign me this issue under hacktoberfest. Thank you.
Question:
Find the pair which gives the sum same as assigned number

Input:  [1,4,6,2,5,3,0]
n=3
Output: [1,2]

[2021-10-02 06:15] avinash201199 commented on #344
@akshitaPrajapati don't forget to add the  problem statement

[2021-10-02 06:16] avinash201199 commented on #349
@irit2607 don't forget to add the problem statement on the code file

[2021-10-02 06:17] PARAVPREET17 opened #351 "Duplicates in array"
I added a code which print duplicates in a array in C++ programming language

[2021-10-02 06:25] srusti610 commented on #314
Hello ,I would like to contribute. May I be assigned to this?

[2021-10-02 06:25] saket349 opened #353 "Lowest Common Ancestor of Binary Tree"
Hi, I m participating in hacktoberfest '21. I want to add a solution to a problem which goes as: -
Question:
Given a binary tree, find the lowest common ancestor (LCA) of two given nodes in the tree.

Example:
Input: root = [3,5,1,6,2,0,8,null,null,7,4], p = 5, q = 1
Output: 3
Explanation: The LCA of nodes 5 and 1 is 3.

So please kindly assign this to me

[2021-10-02 06:27] arihantthriwe opened #354 "Binary Search Tree Validation"
Given a binary tree root, return whether it's a binary search tree. A binary tree node is a binary search tree if :
------(C++)
1. All nodes on its left subtree are smaller than node.val
2. All nodes on its right subtree are bigger than node.val
3. All nodes hold the these properties.

Constraint :
n ≤ 100,000 where n is the number of nodes in root

[2021-10-02 06:27] arihantthriwe commented on #354
Please assign me this :)

[2021-10-02 06:30] Amitlpu-840 commented on #350
Hii. please assign this to me. I will solve this issue as I am experienced in c++.

[2021-10-02 06:30] anshika0207 opened #355 "DP- Subset Sum C++"
Hi, I am a participant of Hacktoberfest'2021. I would like to add this question in DP. Kindly assign me this issue.
Thank you.
Ques:-
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum.
Input:-
5 12
1 5 3 7 4
Output:-
Yes

[2021-10-02 06:48] Adityagupta1625 opened #363 "Find All Four Sum Numbers"
## Question
Given an array of integers and another number. Find all the unique quadruple from the given array that sums up to the given number.

## Example :

Input:
N = 5, K = 3
A[] = {0,0,2,1,1}
Output: 0 0 1 2 $
Explanation: Sum of 0, 0, 1, 2 is equal
to K.

## Link to Question:
https://practice.geeksforgeeks.org/problems/find-all-four-sum-numbers1732/1

[2021-10-02 06:50] rnrathod16 opened #364 "Reverse K Nodes in Linked List"
Hi, I am a participant of Hacktoberfest. I would like to add this question of reversing the linked list after every k given. Kindly assign me this issue under hacktoberfest. Thank you.
Question:
Write a code to reverse linked list after every k nodes

Input = 1->2->3->4->5->6->7->8->NULL
k=3
Output = 3->2->1->6->5->4->8->7->NULL

[2021-10-02 06:50] anushkadubey opened #365 "Stock Span Problem in C++"
The stock span problem is a financial problem where we have a series of n daily price quotes for a stock and we need to calculate the span of stock’s price for all n days.
The span Si of the stock’s price on a given day i is defined as the maximum number of consecutive days just before the given day, for which the price of the stock on the current day is less than or equal to its price on the give

[2021-10-02 06:55] shafi9155 commented on #365
Please assigned me this issue I can solve it

[2021-10-02 06:57] Khushi-Agrawal-1 opened #367 "Split Linked List in Parts"
Hi @avinash201199

I would like to add a program to split the given linked list into k consecutive linked list parts and I would be doing this in JAVA.
Can you assign a 'hacktoberfest' label and assign it to me?

Thanks

[2021-10-02 07:01] esheetaparulekar commented on #353
Hello, can I work on this issue in Java?

[2021-10-02 07:02] esheetaparulekar commented on #364
Hello, can I work on this issue in Java?

[2021-10-02 07:06] Khushi-Agrawal-1 opened #368 "Add Digits"
Hi @avinash201199

I would like to add a program under Number theory to repeatedly add all the digits of a number until the result has only one digit and I would be doing this in JAVA.
Can you assign a 'hacktoberfest' label and assign it to me?

Thanks

[2021-10-02 07:09] rnrathod16 opened #370 "Merge 2 Sorted Linked List"
Hi, I am a participant of Hacktoberfest. I would like to add this question of merging 2 linked list. Kindly assign me this issue under hacktoberfest. Thank you.
Question:
Write a code to merge 2 sorted linked list
Input1 = 1->5->7->10->NULL
Input2 = 2->3->6->NULL

Output = 1->2->3->5->6->7->10->NULL

[2021-10-02 07:11] Vedantnerkar commented on #273
Hi can I work on this issue. I can submit a C++ solution for this

[2021-10-02 07:11] CyberSkull1243 commented on #314
Hello sir can you please assign this task to me. I would like to contribute in this.

[2021-10-02 07:17] anushkadubey commented on #365
@shafi9155 I have already solved it, I am just waiting for it to be assigned to me.

[2021-10-02 07:29] sej28 opened #372 "Add AreaOrPerimeter.cpp"
Question
Write a program to obtain length (L) and breadth (B) of a rectangle and check whether its area is greater or perimeter is greater or both are equal.

Link to the question
https://www.codechef.com/problems/AREAPERI

[2021-10-02 07:29] sej28 commented on #372
pls assign this to me

[2021-10-02 07:31] sej28 opened #374 "Add Mahasena.cpp"
Question
Kattapa, as you all know was one of the greatest warriors of his time. The kingdom of Maahishmati had never lost a battle under him (as army-chief), and the reason for that was their really powerful army, also called as Mahasena.

Kattapa was known to be a very superstitious person. He believed that a soldier is "lucky" if the soldier is holding an even number of weapons, and "unlucky" ot

[2021-10-02 07:31] sej28 commented on #374
pls assign this to me

[2021-10-02 07:50] rnrathod16 opened #376 "Longest Band"
Hi, I am a participant of Hacktoberfest. I would like to add this question of finding the longest band. Kindly assign me this issue under hacktoberfest. Thank you.
Question:
Write code to find the largest subset  containing consecutive numbers.

Input  = [ 1,9,3,0,18,5,2,4,10,7,12,6 ]
Output = 8

Explanation : -  Largest subset containing consecutive number is [ 0,1,2,3,4,5,6,7 ]

[2021-10-02 07:58] aditya-11-19 opened #378 "DP- Longest Increasing Subsequence"
In this problem, we have to find the length of the longest subsequence of a given sequence such that all elements of the subsequence are sorted in increasing order.
Example:-    Sequence- {8,100,150,10,12,14,110}
                    Length of longest subsequence- 5        // (8,10,12,14,110)

[2021-10-02 08:07] shafi9155 opened #379 "Binary Exponentiation"
Hi Avinash!
I would like to add Binary Exponentiation code in C++ which allows to calculate a^n using only O(logn)
Could you please assign this issue to me?
Thank You!

[2021-10-02 08:13] aditya-517 commented on #254
@avinash201199  I have added complete problem statement with sample testcases & created a pull request #375 .
Please review the PR & suggest changes if needed :)

[2021-10-02 08:29] SB2318 commented on #242
Thank you very much for accepting my issue.
Can you please tell me the time limit of submitting it?

[2021-10-02 08:49] #33 closed

[2021-10-02 09:03] avinash201199 commented on #353
Go ahead :)

[2021-10-02 10:10] meixinchoy opened #384 "Best Time to Buy and Sell Stock II"
Hello, I am a participant of Hacktoberfest'2021. I would like to add this question in DP. I would love it if you could assign me with this issue.
Thank you.

Best Time to Buy and Sell Stock II

You are given an integer array prices where prices[i] is the price of a given stock on the ith day.

On each day, you may decide to buy and/or sell the stock. You can only hold at most one share of the stoc

[2021-10-02 10:13] Adityagupta1625 commented on #363
Pls assign me this issue

[2021-10-02 10:14] #154 closed

[2021-10-02 10:21] illusion001 opened #385 "Add Maximum Product Subarray"

[2021-10-02 10:50] krithikha2001 opened #387 "Longest palindrome subsequence problem"
Problem statement - To give an efficient algorithm to find the length of the longest palindrome that is a subsequence of a
given input string.
Explanation - If the given sequence is “BBABCBCAB”, then the output should be 7 as “BABCBAB” is the longest palindrome subsequence in it. “BBBBB” and “BBCBB” are also palindrome
subsequences of the given sequence, but not the longest ones.

To solve this pr

[2021-10-02 10:50] krithikha2001 commented on #387
I'll take up this issue.
Please assign this to me

[2021-10-02 10:57] #134 closed

[2021-10-02 11:09] YOGENDERSS commented on #385
can i do it.

[2021-10-02 11:17] YOGENDERSS commented on #385
i have done it, if u want more such work then please make me a contributor i will solve the issues. thanks

[2021-10-02 11:24] #351 closed

[2021-10-02 11:46] #270 closed

[2021-10-02 11:46] vishakha-aggarwal commented on #270
PR merged successfully

[2021-10-02 11:52] #262 closed

[2021-10-02 11:53] AbhinandanGautam opened #396 "Different type of Traversals in Binary Tree"
I am participating in Hacktoberfest 2021

Traversals in Binary Tree :
1. PreOrder traversal
2. PostOrder traversal
3. InOrder traversal
4. Level Order traveral

[2021-10-02 11:53] AbhinandanGautam commented on #396
Please assign me this issue

[2021-10-02 11:54] Monish-P opened #398 "Longest Consecutive Duplicate String"
Hello !, I am a participant of hacktober fest 2021 , I would like to add this important question regarding strings.

Problem statement:  Given a lowercase alphabet string s, return the length of the longest substring with same characters.

Constraints:
    0<=n<=100000 , where n is length of string s.
Example cases:

Example 1:
   s = "abbbba"
  Output: 4
  Explanation: The longest substring is "b

[2021-10-02 12:00] #189 closed

[2021-10-02 12:02] #269 closed

[2021-10-02 12:12] avinash201199 commented on #364
go ahead :)

[2021-10-02 12:12] ZeelParekh10 commented on #341
https://github.com/avinash201199/DSA-Questions/commit/1686bb090701ad564194319818a87be116ed4125

[2021-10-02 12:12] #341 closed

[2021-10-02 12:13] #271 closed

[2021-10-02 12:13] PARAVPREET17 opened #400 "Hacktoberfest"
This repo is marked spam by hacktoberfest maintainers......

[2021-10-02 12:14] avinash201199 commented on #365
create your own issue

[2021-10-02 12:14] avinash201199 commented on #365
don't worry will accept you soon
for immediate contact ping me here -https://www.instagram.com/lets__code/

[2021-10-02 12:21] avinash201199 commented on #374
@sej28 don't forget to add problem statement in the code

[2021-10-02 12:23] avinash201199 commented on #376
@rnrathod16  only 2 issue per day :)
complete the 2 first , closing the issue

[2021-10-02 12:23] #376 closed

[2021-10-02 12:23] avinash201199 commented on #378
don't forget to add problem statement in the code file

[2021-10-02 12:25] avinash201199 commented on #379
please don't forget to add problem statement in the code file.

[2021-10-02 12:26] avinash201199 commented on #384
@meixinchoy
All the best :)

[2021-10-02 12:27] avinash201199 commented on #385
create your own issue , will assign you :)

[2021-10-02 12:28] jen-sjen commented on #400
Yeah all my PRs have been nullified

[2021-10-02 12:30] #387 closed

[2021-10-02 12:33] avinash201199 commented on #400
can you please send the screenshot ?

[2021-10-02 12:34] avinash201199 commented on #400
why ?

[2021-10-02 12:41] pradyyadav commented on #400
Hi, this repo shows as excluded project.

![image](https://user-images.githubusercontent.com/54806739/135716558-d98c150b-194d-4ed2-bcc7-d291607ef5eb.png)

[2021-10-02 12:42] pradyyadav commented on #400
@avinash201199 Check this. We hope this is a mistake🙂.

[2021-10-02 12:46] #233 closed

[2021-10-02 12:48] avinash201199 commented on #400
I was working from 3 days continuously 🥺

[2021-10-02 13:00] PARAVPREET17 commented on #400
![image](https://user-images.githubusercontent.com/69973112/135717363-5496968a-a11e-43bb-9ee7-2365dd26c627.png)

[2021-10-02 13:12] meixinchoy commented on #384
Thank you :) I've submitted a pull request, let me know if there are any issues

[2021-10-02 13:12] shreyaa2410 commented on #398
I would like this problem.please assign this to me

[2021-10-02 13:19] shafi9155 commented on #379
[https://github.com/avinash201199/DSA-Questions/pull/359](url)
@avinash201199  done

[2021-10-02 13:21] #309 closed

[2021-10-02 13:22] shafi9155 commented on #379
https://github.com/avinash201199/DSA-Questions/pull/359
@avinash201199  done

[2021-10-02 13:24] mayankgoyal-13 commented on #266
@avinash201199 I have created the pull request #410 for this code and pls label that pr as hacktoberfest.

[2021-10-02 13:41] ritish1082 opened #411 "Reverse a linked list"
Hi!
My name is Sai Ritish and I am a registered participant of hacktoberfest.

The above issue will be dealing with reversing a linked list recursively using c language.

[2021-10-02 13:46] ritish1082 opened #413 "Palindrome using stacks"
Hi!
In the above issue by using the concept of stacks we can check whether string is palindrome or not.
Please can you assign me the issue. @avinash201199

[2021-10-02 14:03] avinash201199 commented on #411
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)

[2021-10-02 14:03] avinash201199 commented on #411
you can contribute to other repo also

[2021-10-02 14:07] avinash201199 commented on #413
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)

[2021-10-02 14:20] #192 closed

[2021-10-02 14:26] Rohit5152 commented on #413
He bro please assign this problem to me .
Because i already solved this

[2021-10-02 14:28] #342 closed

[2021-10-02 14:30] #346 closed

[2021-10-02 14:30] #337 closed

[2021-10-02 14:32] #364 closed

[2021-10-02 14:33] nirmalya8 commented on #328
Hey can I work on this issue?

[2021-10-02 14:38] ritish1082 commented on #413
Added to the repository successfully!

[2021-10-02 14:56] #411 closed

[2021-10-02 14:57] #413 closed

[2021-10-02 15:01] sej28 commented on #374
before the code itself right?

[2021-10-02 15:11] #350 closed

[2021-10-02 15:14] avinash201199 commented on #396
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:21] avinash201199 commented on #273
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:23] avinash201199 commented on #353
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:23] #384 closed

[2021-10-02 15:25] avinash201199 commented on #134
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:25] avinash201199 commented on #385
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:31] anushkadubey commented on #365
Okay, thanks!:) @avinash201199

[2021-10-02 15:37] avinash201199 commented on #154
\

They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:44] illusion001 commented on #385
Competitions-list repo pull requests will be accepted for HF ?

[2021-10-02 15:47] avinash201199 commented on #270
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 15:49] avinash201199 commented on #314
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 16:13] #349 closed

[2021-10-02 16:19] Anant-mishra1729 opened #430 "Sieve of Eratosthenes using C++"
Sieve of Eratosthenes algorithm for finding prime numbers less than or equal to given number

[2021-10-02 16:21] avinash201199 commented on #430
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 16:24] nitinkumar30 commented on #268
This project is not participating in hacktoberfest 2021 ?

[2021-10-02 16:31] AayushMaurya opened #434 "Reversort"
I would like to add solution to a DSA problem of codejam i.e. reversort engineering

[2021-10-02 16:45] #226 closed

[2021-10-02 16:47] abhishek23012000 opened #436 "Spirally traversing a matrix"
i want to solve above matrix problem using java.

[2021-10-02 16:58] nishantkumar1308 commented on #436
I want to solve this using C++.
Please assign to me.

[2021-10-02 16:59] avinash201199 commented on #365
@anushkadubey
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 17:00] nishantkumar1308 commented on #55
Please assign it to me .

[2021-10-02 17:01] nishantkumar1308 commented on #163
I also want to contribute Some array problem in C++.Please assign it to me

[2021-10-02 17:09] avinash201199 commented on #163
go ahead but :(
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)

[2021-10-02 17:13] avinash201199 commented on #55
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 17:13] nishantkumar1308 commented on #163
Are u sure about this ? Because there are so many repo say that we accept dsa cp and provide you hactober-accepted tag

[2021-10-02 17:13] avinash201199 commented on #436
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 17:15] avinash201199 commented on #434
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)
you can contribute to other repo

[2021-10-02 17:16] avinash201199 commented on #385
yes , you can contribute to that repo

[2021-10-02 17:17] avinash201199 commented on #385
till now no issue

[2021-10-02 17:17] avinash201199 commented on #374
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)

[2021-10-02 17:17] #374 closed

[2021-10-02 17:35] avinash201199 commented on #163
yeah I asked from the official on a discord channel :)
they will verify

[2021-10-02 17:38] avinash201199 commented on #398
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)

[2021-10-02 17:45] nishantkumar1308 commented on #163
PRs count if:
Submitted during the month of October AND (
 ​ ​The PR is labelled as hacktoberfest-accepted by a maintainer OR
 ​ ​Submitted in a repo with the hacktoberfest topic AND (
 ​ ​ ​ ​The PR is merged OR
 ​ ​ ​ ​The PR has been approved
 ​ ​)
)
Does it mean that your repo is not  approved for Hacktober2021

[2021-10-02 17:55] #223 closed

[2021-10-02 18:29] Kushagrasaxena-13 opened #441 "Kadens Algorithm C++"
I want to contribute for kadens algorithm. please mark this as hacktoberfest label

Thanks in advance

[2021-10-02 18:30] avinash201199 commented on #441
They are not considering dsa,cp,algorithm repository :(
all the pr will not be considered in hacktoberfest but your contribution will be for lifetime, this will help many students to practice dsa .
Thank you for your contribution :)

[2021-10-02 18:54] #165 closed

[2021-10-02 19:36] Sulagna-Dutta-Roy opened #443 "Insertion sort using Python"
I want to contribute this. Please assign me under hacktoberfest21.
Thank you In advance.

[2021-10-03 08:00] vaibhav1865 commented on #163
Hello,I  want to contribute by adding Some array problem in C++.Please assign it to me

[2021-10-03 08:21] Parthajeet-Sarmah opened #450 "Printing the top view of a binary tree"
I would like to create a C++ program which prints the top of a binary tree.
For eg:- For a tree
                           1
                      /        \
                     2          3
                 /      \      /    \
              4         5    6       7
Top view (going from extreme left bottom to extreme right bottom) would be:
4 2 1 3 7
Please kindly assign this issue to me. Thank

[2021-10-03 09:02] #450 closed

[2021-10-03 09:44] #430 closed

[2021-10-03 09:51] #266 closed

[2021-10-03 10:54] Karthik-59 opened #452 "Spiral matrix Leetcode question no.54"

[2021-10-03 11:23] Karthik-59 commented on #452
Done ! pr no. 453 @avinash201199

[2021-10-03 11:51] avinash201199 commented on #443
hey , they are not considering dsa,cp and algorithm repo
but you can contribute to this repo as a part of community :)
this will help many students to practice dsa

[2021-10-03 11:52] avinash201199 commented on #452
hey , they are not considering dsa,cp and algorithm repo
but you can contribute to this repo as a part of community :)
this will help many students to practice dsa

[2021-10-03 12:28] #72 closed

[2021-10-03 13:51] #273 closed

[2021-10-03 13:51] #272 closed

[2021-10-03 13:52] abhilashkpy opened #456 "Depth First Traversal in Python"
Write a program to perform Depth First Traversal in Python.

[2021-10-03 13:52] #355 closed

[2021-10-03 13:53] #365 closed

[2021-10-03 14:54] believeInJha opened #460 "QuickSort using Javascript"

[2021-10-04 07:21] #460 closed

[2021-10-04 07:23] avinash201199 commented on #242
hey , they are not considering dsa,cp and algorithm repo
but you can contribute to this repo as a part of community :)
this will help many students to practice dsa

[2021-10-04 07:23] #242 closed

[2021-10-04 07:42] SB2318 commented on #242
Okay, Thanks for merging it.😇

[2021-10-04 10:39] Utkarsh31-cell commented on #73
Hi sir I am participating in hactoberfest 2021 . Please assign this issue to me also.

[2021-10-04 10:47] malvika-sinha commented on #147
@avinash201199  Kindly assign this task to me .

[2021-10-05 06:24] eshaan-oreo commented on #32
I wish to contribute to this using C++ Language. I will do it in both an iterative and recursive manner.
Please assign me.

[2021-10-05 13:10] Shruti-Bibra commented on #456
assign please

[2021-10-05 13:13] avinash201199 commented on #456
@abhilashkpy @Shruti-Bibra
They are not considering dsa,cp and algorithm repo but you can contribute to this repo :)

You can also contribute to this repo it is valid -https://github.com/avinash201199/My-Gallery-4u

[2021-10-07 16:46] #99 closed

[2021-10-11 18:34] Yasas4D commented on #400
![image](https://user-images.githubusercontent.com/49401137/136837889-68dfd130-ba4d-45c7-a120-87a4f9ed0e0e.png)
yah! same here @avinash201199

[2021-10-11 18:36] Yasas4D opened #479 "Excluded Project"
![image](https://user-images.githubusercontent.com/49401137/136838054-0fce4c24-0854-4241-8f6d-5972516b3729.png)

[2021-10-12 02:34] avinash201199 commented on #400
you are late to check :)
I informed in readme file at the starting

[2021-10-12 15:21] Yasas4D commented on #479
Oh! I didn't see that. Anyway happy to contribute!

[2021-10-15 09:06] #10 closed

[2021-10-15 20:17] #131 closed

[2021-10-22 04:48] SB2318 commented on #277
Just give this one a day time, I’m almost complete it.

[2021-10-24 08:58] syamala27 opened #483 "Bracket Sequences"
`Problem`
A bracket sequence is a string that contains only characters '(' and ')'.

A correct bracket sequence is a bracket sequence that can be transformed into a correct arithmetic expression by inserting characters '1' and '+' between the original characters of the sequence. For example, bracket sequences '()()' and '(())' are correct. The resulting expressions of these sequences are: '(1)+(1)

[2021-12-13 12:37] #303 closed

[2021-12-13 12:38] #314 closed

[2022-03-06 15:42] Octet3290 commented on #56
I would like to work on this issue .
would you please assign me.

[2022-03-06 15:43] Octet3290 commented on #49
Please assign me this issue

[2022-03-06 18:06] avinash201199 commented on #56
go on :) @Octet3290

[2022-03-06 20:52] Octet3290 commented on #56
Done !
Kindly check please if i had done something wrong in pulling request
process cause i am new in using github.
Thank you for assigning me.

On Sun, Mar 6, 2022 at 11:36 PM Avinash Singh ***@***.***>
wrote:

[2022-03-07 08:44] Octet3290 commented on #127
Will include binary search and linear search.
Please assign this issue to me.

[2022-03-07 08:49] Octet3290 commented on #255
I would like to work on this issue.
Please assign this to me.

[2022-03-30 15:35] #34 closed

[2022-08-24 15:42] Octet3290 opened #556 "Sort Colors Question on LeetCode"

[2022-08-24 15:48] Octet3290 opened #557 "Merge Sorted Array Question in Leetcode"

[2022-08-24 15:49] Octet3290 opened #558 "Majority Element Question in Leetcode"

[2022-08-24 15:49] Octet3290 opened #559 "Contains Duplicate Question in Leetcode"

[2022-08-24 15:49] Octet3290 opened #560 "Valid Anagram Question in Leetcode"

[2022-08-24 15:50] Octet3290 opened #561 "Missing Number Question in Leetcode"

[2022-08-24 15:50] Octet3290 opened #562 "Intersection of Two Array Question in Leetcode"

[2022-08-24 15:51] Octet3290 opened #563 "Find the Difference Question in Leetcode"

[2022-09-25 14:52] chaitraleedatar opened #574 "Selection sort"
C++ code for selection sort

[2022-09-28 12:20] poojakumari11228 opened #575 "Length of longest substring"
Find a length of longest substring in java

[2022-09-28 12:24] poojakumari11228 opened #576 "Implementation of LInkedList, code to check if LinkedList is Cyclic"
Code in java to create implementation of LinkedList and method to check if given LinkedList  is Cyclic in nature.

[2022-10-02 15:45] Faizan96322 commented on #158
hey, I would like to work on this issue in python in hacktoberfest-22 can u pls assign me this issue

[2022-10-02 15:50] avinash201199 commented on #158
this repo is no more under hacktoberfest  , though you can contribute